<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">

<head>

    <meta charset="utf-8" />
    <title>Dashboard | Velzon - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
    <meta content="Themesbrand" name="author" />

    <!-- jsvectormap css -->
    <link href="/assets/libs/jsvectormap/css/jsvectormap.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.3.1/ckeditor5.css">

    <!--Swiper slider css-->
    <link href="/assets/libs/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />

    <!-- Layout config Js -->
    <script src="/assets/js/layout.js"></script>
    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="/assets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/app.css" rel="stylesheet" type="text/css" />

    <!-- custom Css-->
    <link href="/assets/css/custom.min.css" rel="stylesheet" type="text/css" />
<!-- 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css"> -->


</head>

<body>

    <!-- Begin page -->
    <div id="layout-wrapper">
 <%- include('../layout/header'); -%>
         <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col">
                            <div class="h-100">
                                <% if (locals.blog) { %>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card">
                                                <div class="card-header align-items-center d-flex">
                                                    <h4 class="card-title mb-0 flex-grow-1">Update Blog</h4>
                                                </div><!-- end card header -->
                                                <div class="card-body">
                                                    <div class="live-preview">
                                                        <form id="blog-form" method="POST" enctype="multipart/form-data" action="/api/blogs/update/<%= blog.id %>?_method=PUT">
                                                            <div class="row g-3">
                                                                <div class="col-lg-6">
                                                                    <div class="form-floating">
                                                                        <input type="text" value="<%= blog.title %>" name="title" class="form-control" id="firstnamefloatingInput" placeholder="Enter your firstname">
                                                                        <label for="firstnamefloatingInput">Title</label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-12">
                                                                    <label for="lastnamefloatingInput">Header* <br>
                                                                        <span class="small text-danger">(It will show as the Sub-header of the Event)</span>
                                                                    </label>
                                                                    <div class="form-floating">
                                                                        <textarea name="sub_header" class="form-control" placeholder="Enter Sub Header"><%= blog.sub_header %></textarea>
                                                                    </div>
                                                                </div> 
                                                                
                                                                <div class="col-lg-12">
                                                                    <label for="description">Description</label>
                                                                    <div class="form-floating">
                                                                        <!-- Pass the raw HTML content to CKEditor -->
                                                                        <textarea id="editor" name="description" class="form-control" placeholder="Enter Description"><%= blog.description %></textarea>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-lg-6">
                                                                    <div class="form-floating">
                                                                        <select class="form-select" id="floatingSelect" name="status" aria-label="Floating label select example">
                                                                            <option value="draft" <%= blog.status === 'draft' ? 'selected' : '' %>>Draft</option>
                                                                            <option value="published" <%= blog.status === 'published' ? 'selected' : '' %>>Published</option>
                                                                        </select>
                                                                        <label for="floatingSelect">Blog Status</label>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-lg-6">
                                                                    <div class="form-floating">
                                                                        <input type="text" name="tags" value="<%= blog.tags %>" class="form-control" id="passwordfloatingInput" placeholder="Enter Tags">
                                                                        <label for="passwordfloatingInput">Tags</label>
                                                                    </div>
                                                                </div> 
                                                                <div class="col-lg-4">
                                                                    <label for="zipfloatingInput">Current image</label><br>
                                                                    <div class="form-floating">
                                                                       <img src="https://admin.suhora.com<%= blog.image %>" alt="no imag" height="167px">
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    <label for="zipfloatingInput">Image</label><br>
                                                                    <span class="small">(Height Must be 600px required for the image)</span>
                                                                    <div class="form-floating">
                                                                        <input type="file" name="image" class="form-control" id="zipfloatingInput" placeholder="Enter Image">
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="col-lg-12">
                                                                    <div class="text-end">
                                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                <% } %>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--start back-to-top-->
    <button onclick="topFunction()" class="btn btn-danger btn-icon" id="back-to-top">
        <i class="ri-arrow-up-line"></i>
    </button>
    <!--end back-to-top-->

    <!--preloader-->
    <div id="preloader">
        <div id="status">
            <div class="spinner-border text-primary avatar-sm" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>

    <div class="customizer-setting d-none d-md-block">
        <div class="btn-info btn-rounded shadow-lg btn btn-icon btn-lg p-2" data-bs-toggle="offcanvas" data-bs-target="#theme-settings-offcanvas" aria-controls="theme-settings-offcanvas">
            <i class='mdi mdi-spin mdi-cog-outline fs-22'></i>
        </div>
    </div>

    <script type="importmap">
        {
            "imports": {
                "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.3.1/ckeditor5.js",
                "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.3.1/"
            }
        }
    </script>
    <script type="module">
      import {
        ClassicEditor,
            Essentials,
            Paragraph,
            Bold,
            Italic,
            FontFamily,
            FontSize,
            FontColor,
            FontBackgroundColor,
            Link,
            Image,
            ImageUpload,
            ImageResize,
            Table,
            TableToolbar,
            List,
        } from 'ckeditor5';
    
        class CustomUploadAdapter {
            constructor(loader) {
                this.loader = loader;
            }
    
            upload() {
                return this.loader.file.then(file => {
                    const data = new FormData();
                    data.append("image", file);
    
                    return fetch("/api/blog/upload-image", {
                        method: "POST",
                        body: data,
                        headers :{

                        }
                    })
                    .then(response => response.json())
                    .then(result => {
                        if (result.success) {
                            return { default: result.imageUrl };
                        } else {
                            return Promise.reject(result.message);
                        }
                    })
                    .catch(error => {
                        console.error("Upload failed:", error);
                        return Promise.reject(error);
                    });
                });
            }
    
            abort() {
                console.log("Upload aborted");
            }
        }
    
        function CustomUploadAdapterPlugin(editor) {
            editor.plugins.get("FileRepository").createUploadAdapter = loader => {
                return new CustomUploadAdapter(loader);
            };
        }
    
        ClassicEditor
        .create(document.querySelector("#editor"), {
            plugins: [
                Essentials,
                Paragraph,
                Bold,
                Italic,
                FontFamily,
                FontSize,
                FontColor,
                FontBackgroundColor,
                Link,
                Image,
                ImageUpload,
                ImageResize,
                Table,
                TableToolbar,
                List,
            ],
            toolbar: [
                "undo", "redo", "|",
                "bold", "italic", "|",
                "fontSize", "fontFamily", "fontColor", "fontBackgroundColor", "|",
                "link", "|", "imageUpload", "|",
                "insertTable", "|",
                "bulletedList", "numberedList", "|",
                "resizeImage"
            ],
            extraPlugins: [CustomUploadAdapterPlugin],
            image: {
                toolbar: ["imageStyle:full", "imageStyle:side", "|", "imageResize"],
                resizeUnit: "px",
                resizeOptions: [
                    { name: "resizeImage:original", value: null, label: "Original" },
                    { name: "resizeImage:50", value: "100", label: "50%" },
                    { name: "resizeImage:75", value: "200", label: "75%" },
                    { name: "resizeImage:custom", value: "300", label: "Custom (400px)" }
                ]
            },
            table: {
                contentToolbar: ["tableColumn", "tableRow", "mergeTableCells"]
            },
            language: "en",
            alignment: {
                options: ["left", "center", "right", "justify"]
            },
            textDirection: "ltr"
        })
        .then(editor => {
            window.editor = editor;
        })
        .catch(error => {
            console.error(error);
        });

    const token = "hsdguefg65sws%xsn$zsxs"; 
    document.getElementById('blog-form').addEventListener('submit', function(event) {
        event.preventDefault(); // Prevent the default form submission
     console.log("create token ", token);
     
        // Check if the token exists
        if (!token) {
            alert('Authorization token is missing');
            return; // Exit the function if the token is missing
        }

        // Prepare form data using FormData
        const formData = new FormData(this); // 'this' refers to the form element

        // Make a fetch request with the Authorization header and form data
        fetch(this.action, {
            method: this.method,
            headers: {
                'Authorization': 'Bearer ' + token, // Add the Authorization header
            },
            body: formData // Attach the form data
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                alert('Blog updated successfully!');
                this.reset();
            } else {
                alert('Error: ' + data.message);
            }
        })
        .catch(error => {
            alert('Something went wrong. Please try again.');
        });
    });

    </script>
    <!-- A friendly reminder to run on a server, remove this during the integration. -->
    <script>
        window.onload = function() {
            if ( window.location.protocol === 'file:' ) {
                alert( 'This sample requires an HTTP server. Please serve this file with a web server.' );
            }
        };

        function updateEditorContent() {
    // Get CKEditor content and set it to the hidden input field
    var editorContent = window.editor.getData();
    document.getElementById('editorContent').value = editorContent;
}

    </script>
    <!-- JAVASCRIPT -->
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>
    <script src="/assets/libs/feather-icons/feather.min.js"></script>
    <script src="/assets/js/pages/plugins/lord-icon-2.1.0.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <!-- apexcharts -->

    <!-- Vector map-->
    <script src="/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
    <script src="/assets/libs/jsvectormap/maps/world-merc.js"></script>

    <!--Swiper slider js-->
    <script src="/assets/libs/swiper/swiper-bundle.min.js"></script>

    <!-- Dashboard init -->
    <script src="/assets/js/pages/dashboard-ecommerce.init.js"></script>

    <!-- App js -->
    <script src="/assets/js/app.js"></script>
</body>

</html>
